/* *{
    outline: 1px solid red;
} */
h6 {
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 18px;
    color: #465b52;
    margin: 14px 0 19px 0;
}
.section-p1{
    padding: 20px 80px;
}
.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 14px 29px;
    color: black;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
    position: sticky;
}

body{
   
    width: 100%;
}

#header{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    background: #00020a;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
    z-index: 999;
    position:sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
align-items: center;
justify-content: center;

}
#navbar li {
    list-style:none;
    padding:0 20px;
    position:relative;
}
#navbar li  a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color:white;
    transition:0.4s ease;
}
#navbar li  a:hover,
#navbar li  a.active{
color:rgb(0, 68, 255)
}
#navbar li  a.active::after,
#navbar li  a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background:rgb(128, 0, 6);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}

#hotdeals{
    background-image: url("img/Wallpaper 1.png");
    height: 78vh;
    width: 89.8%;
    background-size: cover;
    background-position: top 26% right0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hotdeals h4{
    color:blue;
     padding-bottom: 16px;
}
#hotdeals h1{
    color:blue;
}
#hotdeals h2{
    color:blue;
}
#hotdeals p{
    color: rgb(236, 10, 10);
    font-weight: 500;
}
#hotdeals button{
    background-image: url("img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 80px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 800;
    font-size: 17px;
}

#features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
  }

#features .fe-box{
width: 180px;
text-align: center;
padding: 25px 15px;
box-shadow: 20px 21px 34px rgba(0, 0, 0, 0.03);
border: 1px solid #cce7d0;
border-radius: 4px;
margin: 15px 0;
}
#features .fe-box:hover{
    box-shadow: 10px 10px 55px rgba(0, 0, 0, 0.02); 
}
#features .fe-box img{
    width: 100%;
    margin-bottom: 11px;
}
#features .fe-box h6{
    display: inline-block;
    padding: 10px 8px 6px 8px;
    line-height: 1;
    border-radius: 5px;
    color:rgb(0, 38, 255);
    background-color: #cce7d0;
}
#features .fe-box:nth-child(2) h6{
background-color: rgb(187, 187, 2);
}
#features .fe-box:nth-child(3) h6{
    background-color: rgb(240, 225, 14);
}
 #features .fe-box:nth-child(4) h6{
        background-color: rgb(2, 181, 187);
}

#items{
    text-align: center;
}

#items .pro-container{
display: flex;
justify-content: space-between;
padding-top: 25px;
flex-wrap: wrap;
}


#items .pro{
 width: 23%;
 min-width: 250px;
 padding: 10px 6px; 
 border:1px solid #cce7d0;
 border-radius: 25px;  
 cursor: pointer;
 box-shadow: 20px 20px 35px rgba(0,0, 0,0.1);
 margin: 15px 0;
 transition: 0.3s ease;
 position:relative;
}

#items .pro:hover{
    box-shadow: 21px 21px 35px rgba(0,0, 0,0.3); 
}

#items .pro img{
    object-fit: contain;
    
    width: 100%;
    border-radius: 20px;
}

#items .pro .des{
    text-align: start;
    padding: 10px 0;
}

#items .pro .des span{
    color: #465b52;
    font-size: 13px;
} 
#items .pro .des h5{
    padding-top: 6px;
    color: black;
    font-size: 14PX;
}
#items .pro .des i{
    font-size: 12px;
    color: rgb(8, 184, 16);
}
#items .pro .des h4{
    padding-top: 6px;
    color: green;
    font-size: 14PX;
}
/* #items .whatsapp{
    width: 40px;
    height: 38px;
    line-height: 39px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #13b329;
    border:1px solid #cce7d0;
    position: absolute;
    bottom: 21px;
    right: 60px; */
/* } */
.whatsapp {
    color: #fff;
    background-color: #1cc88a;
    border-color: #1cc88a;
}
.btn .whatsap{
    width: 40px;
    justify-content: end;
    align-content: flex-end;
    height: 38px;
    line-height: 39px;
    border-radius: 50px;
    /* background-color: #e8f6ea; */
    font-weight: 500;
    color: #13b329;
    /* border:1px solid #cce7d0; */
    /* position: absolute; */
    bottom: 21px;
    right: 60px;
}
.btn {
    display: inline-flex;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
    background-color: #1cc88a;
    border: 1px solid transparent;
    padding: 0.375rem 0.85rem;
    font-size: 1.4rem;
    line-height: 1.7;
    border-radius: 0.35rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#items .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 51px;
    background-color: #e8f6ea;
    font-weight: 499;
    color: #088178;
    border:1px solid #cce7d0;
    position: absolute;
   bottom: 19px;
   right: 10px;
}
#services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/Banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#services h4{
    color: #070707;
    font-size: 18px;
}
#services h2{
    color: #020202;
    font-size: 31px;
    padding: 10px 0px;
}

#services h2 span{
    color:red;
    
}
#services button:hover{
background: #08811c;

}

#letter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* background-image: url("img/"); */
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #121312;
}

#letter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#letter p{
    font-size: 15px;
    font-weight: 600;
    color: rgb(251, 252, 251);
}

#letter p span{
    font-size: 15px;
    font-weight: 600;
    color: rgb(182, 11, 11);
}

#letter .form{
   display: flex;
   width: 40%;
}

#letter input{
    height: 3.124rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 87%;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
 #letter button{
    background-color: #232424;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
 }
 footer{
    color: white;
    display: flex;
    background: #00020a;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 }
footer .column :hover,
footer .column :active{
    color:rgb(0, 68, 255);
}
footer .column{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: max-content;
 }


 footer .logo{
    margin-bottom: 30px;

 }

footer h4{
    font-size: 15px;
    padding-bottom: 20px;

}
footer .follow_us{
    padding-bottom: 0px;
}
.social_links{

border-radius: 30%;
padding: 12px;
}

footer p{
    font-size: 14px;
    margin: 0 0 8px 0; 
}

footer a{
    font-size: 14px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
    
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color:#d6d3d3;
    padding-right: 4px;
    cursor: pointer;
}
.footer-address-map-link{
    height: 80%;
    width: 80%;
}

footer .copyright{
    text-align: center;
    width: 100%;
}

/* start media Query */
 @media (max-width:799px){
    .section-p1{
        padding: 40px 40px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.02);
        padding: 60px 0px 0px 10px;
        transition: 0.2s;
    }
     
    #navbar.active{
        right: 0px
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display:flex;
        align-items: center;
    }
    
    #mobile i{
        color: #020202;
        font-size: 24px;
        padding-left: 20px;
        
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        color: #0e0c0c;
        /* left: 30px; */
        font-size: 23px;
    }

    #lg-bag{
        display: none;
    }

    #hotdeals{
        
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
     
    }
#features{
    justify-content: center;
}

#features .fe-box{
    margin: 15px 15px;
}

#items .pro-container {

    justify-content: center;
}

#items .pro {
   
    margin: 15px ;
}

#services {
    height: 20vh;
}
#letter .form {
   
    width: 70%;
}
 }
 @media(max-width:477px){
    .section-p1 {
        padding: 20px;
    }
    #header{
        padding: 10px 30px;
    }
    #hotdeals{
        padding: 0 20px;
        background-position: 55%;
    }
    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    #items .pro{
        width:100%
    }
 }